h1 {
  font-size: 6rem;
  font-weight: 600;
}

.subtitle-container {
  max-width: 25rem;
  text-align: justify;
}

.subtitle {
  font-size: 1.5rem;
}

.btn-custom-primary {
  width: 10rem;
  height: 2.5rem;
  background: linear-gradient(92.85deg, #165982 3.71%, rgba(87, 182, 240, 0) 172.81%);
  border-radius: 50px;
  color: #f7f7f7b6;
  transition: .3s;
}

.btn-custom-primary:hover {
  color: #FFFFFF;
}

.full-view {
  width: 100%;
  height: 100vh;
  padding: 4rem 8rem;
}

.home {
  background-image: url('./assets/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  background-color: #08080A;
}

.card-platform {
  width: 9rem;
  height: 9rem;
  margin: 0 1rem;
  background-color: #165982;
  border-radius: 10px;
}

.card-movie {
  width: 6rem;
  height: 8rem;
  margin: 0 0.5rem;
  background-color: #165982;
  border-radius: 10px;
}